/* Matt's super uber style sheet! */

/* setup some spacing */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* header stuff */
.header {
  padding-bottom: 0px;
  border-bottom: 1px solid #e5e5e5;
}

.header a { ext-decoration: none; color: #93a1a1; font-weight: bold;}
.header a:hover { color: #93a1a1 }

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  color: #93a1a1;
}

/* footer stuff */
.footer {
  padding-top: 10px;
  color: #93a1a1;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

.footer a { ext-decoration: none; color: #93a1a1; font-weight: bold;}
.footer a:hover { text-decoration: underline; color: #93a1a1 }

/* base container */
.container {
  max-width: 800px;
}

/* style stuff */
.body {
  line-height: 1.;
  font-size: 16px;
}

.body h1 {
  font-size: 22px;
}

.home {
    text-decoration: none;
    font-size: 15px;
    color: #073642;
}

.home a { text-decoration: none; color: #b58900; }
.home a:hover { text-decoration: underline; color: #b58900; }

ul.posts {
    margin: 5px auto 10px;
    font-size: 15px;
    color: #073642;
}

ul.posts li {
    list-style: none;
}

ul.posts a { color: #b58900; }
ul.posts a:hover { text-decoration: underline; color: #b58900; }

.about {
    text-decoration: none;
    font-size: 15px;
    color: #073642;
}

ul.connections {
    margin: 30px auto 20px;
    font-size: 16px;
    line-height: 40px;
}

ul.connections li {
    list-style: none;
    display: inline;
    margin-left: 50px;
}

.connections i {
  padding-right: 10px;
  font-size: 30px;
}

.connections a { text-decoration: none; color: #93a1a1; font-weight: bold; }
.connections a:hover { text-decoration: underline; color: #93a1a1; }

.meta { font-style: italic; }

.post {
  text-decoration: none;
  font-size: 15px;
  color: #073642;
}

.post a { text-decoration: none; color: #b58900; }
.post a:hover { text-decoration: underline; color: #b58900; }

.postcontent {
  margin-bottom: 20px;
}
