/* Matt's super uber style sheet! */

/* setup some spacing */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* header stuff */
.header {
  padding-bottom: 0px;
  border-bottom: 1px solid #e5e5e5;
}

.header a { ext-decoration: none; color: #999; font-weight: bold;}
.header a:hover { color: #999 }

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* footer stuff */
.footer {
  padding-top: 10px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

.footer a { ext-decoration: none; color: #999; font-weight: bold;}
.footer a:hover { text-decoration: underline; }

/* base container */
.container {
  max-width: 800px;
}

/* style stuff */
.body {
  line-height: 1.;
  font-size: 16px;
}

.body h1 {
  font-size: 22px;
}

ul.posts {
    margin: 10px auto 20px;
    font-size: 16px;
}

ul.posts li {
    list-style: none;
}
